@import './base.css';

#app {
  max-width: 100vw;
  font-weight: normal;
}

.headerMain {
  font-size: 2.4rem;
  font-weight: 700;
  color: #376877;
}

.headerSecond {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #f8a436dc;

}

.colorSecondary {
  text-decoration: none;
  color: #f8a436;
  transition: 0.4s;
  padding: 3px;
}

.paragraphBold {
  font-weight: 700;
  color: #376877;
}

.warrningBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color:rgba(255, 166, 0, 0.185);
  padding: 24px;
}

.warrningBox__wrapper {
  display: flex;
  align-items: center;
}

.warrningBox__contact {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 48px;
}

.warrningBox__contact p {
  font-weight: 600;
}

.warrningBox__contact p a {
  text-decoration: none;
  color: #376877;
  transition: 0.4s;
}

.warrningBox__contact p a span {
  font-weight: 700;
  color: rgb(238, 161, 18);
}

.warrningParagraph {
  font-size: 1rem;
  font-weight: 500;
  color: #376877;
  text-align: left;
}

.warrningIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40%;
  margin-right: 12px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(255, 166, 0, 0.185);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
