@import './base.css';

#app {
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
}

.headerMain {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 12px;
  color: #376877;
}

a,
.colorSecondary {
  text-decoration: none;
  color: #376877;
  transition: 0.4s;
  padding: 3px;
}

.paragraphBold {
  font-weight: 700;
  color: #376877;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(255, 166, 0, 0.185);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
